<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %} - mezzio</title>
    <link href="/css/styles.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-slate-50 text-slate-600">

    <div class="pt-4">
        <header class="flex flex-row md:justify-center lg:mx-auto lg:w-4/5 max-w-screen-xl">
            <h1 class="text-3xl font-bold p-3 shrink">PHP Expense Tracker</h1>
            <nav class="grow mr-6 h-full my-auto hidden md:block">
                <ol class="flex flex-col md:flex-row gap-2 md:gap-4 justify-end">
                    <li><a href="/expenses">Current Expenses</a></li>
                    <li class="hidden md:block">/</li>
                    <li>
                        <a href="/expense/new"
                            class="hover:underline decoration-4 decoration-slate-500 underline-offset-4 transition ease-in-out duration-300 hover:text-neutral-700 text-neutral-500">
                            New Expense
                        </a>
                    </li>
                </ol>
            </nav>
        </header>
    </div>

    <hr class="mb-5 drop-shadow-sm">

    <main class="p-2 pt-0 lg:mt-4 lg:mb-4">
        {% block content %}{% endblock %}
    </main>

    <footer
        class="lg:mx-auto lg:w-4/5 max-w-screen-xl mb-4 ml-3 pl-2 text-neutral-400 text-base lowercase sticky bottom-0 hidden">
            {% block footer %}
                created by <a href="https://matthewsetter.com" target="_blank"
            class="hover:underline decoration-2 decoration-slate-600 underline-offset-4 transition ease-in-out duration-300 hover:text-neutral-700">Matthew
            Setter</a>. copyright &copy; 2024.
            {% endblock %}
    </footer>
    {% block javascript %}{% endblock %}
</body>
</html>
