{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="pb-4 lg:py-4 px-2 lg:pb-8 lg:px-8 lg:py-6 lg:mx-auto lg:w-4/5 lg:mt-4 max-w-screen-xl">
    <p class="mb-3 text-lg md:text-xl font-medium leading-normal text-slate-600">PHP Expense Tracker is a
        dead-set simple
        way to
        manage all of your
        household or
        personal
        expenses.</p>
    <p class="mb-6 text-lg md:text-xl leading-normal text-slate-600">Whether you're a family, a single person, a
        married couple, or whatever your arrangement, you
        can track your expenses and keep abreast of them at a moment's notice.</p>

    <div class="my-8">
        <a href="/new-expense.html"
            class="my-3 rounded-md p-4 bg-violet-500 text-white transition ease-in-out duration-300 hover:bg-violet-600 hover:drop-shadow-sm">Track
            an
            expense</a>
        <a href="/expenses"
            class="my-3 rounded-md p-4 bg-neutral-200 text-neutral-500 ml-1 transition ease-in-out duration-300 hover:bg-neutral-300 hover:drop-shadow-sm">View
            all
            expenses</a>
    </div>

    <hr class="mb-6 mt-12 w-1/2 mx-auto drop-shadow-md">

    <h2 class="font-bold text-slate-700 text-2xl pl-0 pb-1 md:p-3 mb-2 md:pl-0 lg:pt-1">Expenses at a glance
    </h2>

    <div class="grid md:grid-cols-3 gap-4">
        <div
            class="rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 text-white text-center h-64 text-6xl font-medium place-content-center drop-shadow-md">
            $660
            <div class="block text-lg font-medium">Total expenses this month</div>
        </div>
        <div
            class="rounded-lg bg-gradient-to-r from-violet-500 to-fuchsia-500 text-white text-center h-64 text-6xl font-medium place-content-center drop-shadow-md">
            Groceries
            <div class="block text-lg font-medium">Most used category</div>
        </div>
        <div
            class="rounded-lg bg-gradient-to-r from-amber-500 to-orange-500 text-white text-center h-64 text-6xl font-medium place-content-center drop-shadow-md">
            15
            <div class="block text-lg font-medium">Number of expenses this month</div>
        </div>
    </div>

    <hr class="my-6 w-1/2 mx-auto drop-shadow-md">

    <h2 class="font-bold text-slate-700 text-2xl pl-0 pb-1 md:p-3 mb-2 md:pl-0 lg:pt-1">Most recent expenses
    </h2>

    <div class="md:hidden">
        <div class="grid grid-cols-1 gap-4">
            <div class="px-3 py-3 border-2 border-neutral-300 rounded-md drop-shadow-sm">
                <div class="grid grid-cols-2 gap-2">
                    <div class="text-xl font-bold">$6.00</div>
                    <div class="text-right text-sm text-zinc-500">25.05.2024</div>
                </div>
                <div class="flex flex-row gap-2 mb-1">
                    <div>
                        <div>Pacific Coffee Company</div>
                        <div class="block text-sm text-zinc-400">Bought a coffee while I was working there for a
                            few
                            hours.</div>
                    </div>
                    <div
                        class="text-orange-400 bg-orange-50 text-sm font-medium rounded-full border-2 border-orange-400 py-3 px-3 inline-block justify-end">
                        <img src="/static/img/icons/map.png" class="w-12">
                    </div>
                </div>

            </div>

            <div class="px-3 py-3 border-2 border-neutral-300 rounded-md drop-shadow-sm">
                <div class="grid grid-cols-2 gap-2">
                    <div class="text-xl font-bold">$6.00</div>
                    <div class="text-right text-sm text-zinc-500">25.05.2024</div>
                </div>
                <div class="flex flex-row gap-2 mb-1">
                    <div>Aldi Bundaberg</div>
                    <div
                        class="text-violet-400 bg-violet-50 text-sm font-medium rounded-full border border-violet-400 py-0 px-2 inline-block">
                        Groceries</div>
                </div>
                <div class="block text-sm text-zinc-400">The weekly shopping trip.</div>
            </div>
        </div>
    </div>

    <div class="hidden md:block">
        <table id="current-expenses"
            class="w-full table table-auto border-separate border-spacing-0 border border-slate-300 rounded-md bg-white text-zinc-600 drop-shadow-sm shadow-sm">
            <thead>
                <tr class="bg-stone-50 text-gray-500">
                    <th class="text-left pl-4 p-3 border-b-2 border-slate-300 drop-shadow-sm">Date</th>
                    <th class="text-left p-3 border-b-2 border-slate-300 drop-shadow-sm">Location</th>
                    <th class="text-left p-3 pr-4 border-b-2 border-slate-300 drop-shadow-sm text-right">Amount
                    </th>
                </tr>
            </thead>

            <tbody class="text-base">
                <tr>
                    <td class="pl-4 p-3 border-b-2 border-slate-200">May 25<sup>th</sup>, 2024</td>
                    <td class="pl-4 p-3 border-b-2 border-slate-200 font-medium">
                        Pacific Coffee Company
                        <span
                            class="text-orange-400 bg-orange-50 text-sm font-medium rounded-full border border-orange-400 py-0 px-2 inline-block">Work</span>
                        <span class="block text-sm text-zinc-400">Bought a coffee while I was working there for
                            a
                            few
                            hours.</span>
                    </td>
                    <td class="p-3 pr-4 border-b-2 border-slate-200 text-right">$6.00</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>
{% endblock %}