{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
        <div id="breadcrumb" class="lg:mx-auto lg:w-4/5 max-w-screen-xl hidden md:block">
            <ul class="mb-0 ml-2 md:ml-3 text-neutral-400">
                <li><a href="/"
                        class="hover:underline decoration-2 decoration-slate-600 underline-offset-4 transition ease-in-out delay-150 duration-200 hover:text-neutral-700">Home</a>
                </li>
                <li class="font-semibold text-zinc-500">Current Expenses</li>
            </ul>
        </div>

        <section
            class="hidden mx-auto md:w-4/5 lg:w-3/5 xl:w-2/5 xl:pl-14 lg:mb-5 border-4 border-amber-300 bg-amber-50 rounded-md p-5 pl-16 mt-6"
            style="background-image: url(/static/img/icons/warning.png); background-repeat: no-repeat; background-size: 22px 22px; background-position: 3% center;">
            <div class="font-bold text-amber-900">Warning!</div>
            <p class="text-amber-900">There were some issues with the expense you just tried to submit.</p>
        </section>

        <section
            class="pb-4 lg:py-4 px-2 lg:pb-8 lg:px-8 lg:py-6 lg:mx-auto lg:w-4/5 lg:border-2 lg:rounded-md lg:border-zinc-200 lg:bg-white lg:mt-4 max-w-screen-xl">
            <div class="flex flex-row">
                <div class="grow">
                    <h2 class="font-bold text-slate-700 text-2xl pl-0 pb-1 md:p-3 md:pl-0 lg:pt-1">Current Expenses</h2>
                    <div class="flex flex-row gap-3 w-full">
                        <p class="text-zinc-400 grow">
                            Here are all the expenses that you've created to date, in reverse chronological order.
                        </p>
                    </div>
                </div>
            </div>

            <hr class="mb-5 mt-2">

            <div class="md:hidden">
                <div class="grid grid-cols-1 gap-4">
                    <div class="px-3 py-3 border-2 border-neutral-300 rounded-md drop-shadow-sm">
                        <div class="grid grid-cols-2 gap-2">
                            <div class="text-xl font-bold">$6.00</div>
                            <div class="text-right text-sm text-zinc-500">25.05.2024</div>
                        </div>
                        <div class="flex flex-row gap-2 mb-1">
                            <div>
                                <div>Pacific Coffee Company</div>
                                <div class="block text-sm text-zinc-400">Bought a coffee while I was working there for a
                                    few
                                    hours.</div>
                            </div>
                            <div
                                class="text-orange-400 bg-orange-50 text-sm font-medium rounded-full border-2 border-orange-400 py-3 px-3 inline-block justify-end">
                                <img src="/static/img/icons/map.png" class="w-12">
                            </div>
                        </div>
                        <div class="border-t-2 mt-2 pt-3">
                            <div id="mini-actions">
                                <div class="w-full grid grid-cols-3 gap-2">
                                    <a href=""
                                        class="transition ease-in-out duration-300 hover:bg-emerald-700 hover:cursor-pointer bg-emerald-600 text-white">view</a>
                                    <a href=""
                                        class="transition ease-in-out duration-300 hover:text-indigo-500 hover:cursor-pointer bg-indigo-600 text-white hover:bg-indigo-700">edit</a>
                                    <a href=""
                                        class="transition ease-in-out duration-300 hover:text-indigo-500 hover:cursor-pointer bg-red-600 text-white hover:bg-red-700">
                                        delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="items-center mt-4">
                    <ul class="m-0 text-center">
                        <li class="m-0 inline-block py-2">
                            <a href="/"
                                class="decoration-2 decoration-slate-600 transition ease-in-out delay-150 duration-200 text-zinc-400 hover:text-zinc-700 hover:border-t-4 hover:border-t-zinc-300 py-2 px-3">
                                &larr;</a>
                        </li>
                        <li class="m-0 py-2 inline-block text-zinc-400"><a href="/"
                                class="decoration-2 decoration-slate-600 transition ease-in-out delay-150 duration-200 text-zinc-400 hover:text-zinc-700 hover:border-t-4 hover:border-t-zinc-300 py-2 px-3">1</a>
                        </li>
                        <li class="m-0 py-2 px-3 font-bold inline-block border-t-4 border-neutral-400">2
                        </li>
                        <li class="m-0 py-2 inline-block text-zinc-400"><a href="/"
                                class="decoration-2 decoration-slate-600 transition ease-in-out delay-150 duration-200 text-zinc-400 hover:text-zinc-700 hover:border-t-4 hover:border-t-zinc-300 py-2 px-3">3</a>
                        </li>
                        <li class="m-0 py-2 inline-block text-zinc-400"><a href="/"
                                class="decoration-2 decoration-slate-600 transition ease-in-out delay-150 duration-200 text-zinc-400 hover:text-zinc-700 hover:border-t-4 hover:border-t-zinc-300 py-2 px-3">
                                &rarr;</a></li>
                    </ul>
                </div>
            </div>

            <div class="hidden md:block">
                <table id="current-expenses"
                    class="w-full table table-auto border-separate border-spacing-0 border border-slate-300 rounded-md bg-white text-zinc-600 drop-shadow-sm shadow-sm">
                    <thead>
                        <tr class="bg-stone-50 text-gray-500">
                            <th class="text-left pl-4 p-3 border-b-2 border-slate-300 drop-shadow-sm">Date</th>
                            <th class="text-left p-3 border-b-2 border-slate-300 drop-shadow-sm">Location</th>
                            <th class="text-left p-3 pr-4 border-b-2 border-slate-300 drop-shadow-sm text-right">Amount
                            </th>
                            <th class="text-center p-3 pr-4 border-b-2 border-slate-300 drop-shadow-sm">Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody class="text-base">
                        <tr>
                            <td class="pl-4 p-3 border-b-2 border-slate-200">May 25<sup>th</sup>, 2024</td>
                            <td class="pl-4 p-3 border-b-2 border-slate-200 font-medium">
                                Pacific Coffee Company
                                <span
                                    class="text-orange-400 bg-orange-50 text-sm font-medium rounded-full border border-orange-400 py-0 px-2 inline-block">Work</span>
                                <div class="block my-1 text-sm text-zinc-400">Bought a coffee while I was working there
                                    for
                                    a
                                    few
                                    hours.</div>
                            </td>
                            <td class="p-3 pr-4 border-b-2 border-slate-200 text-right">$6.00</td>
                            <td class="p-3 border-b-2 border-slate-200 text-gray-400 text-center">
                                <div id="actions">
                                    <ul>
                                        <li>
                                            <a href=""
                                                class="transition ease-in-out duration-300 hover:text-indigo-500 hover:cursor-pointer">view</a>
                                        </li>
                                        <li>
                                            <a href=""
                                                class="transition ease-in-out duration-300 hover:text-indigo-500 hover:cursor-pointer">edit</a>
                                        </li>
                                        <li><a href=""
                                                class="transition ease-in-out duration-300 hover:text-indigo-500 hover:cursor-pointer">
                                                delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="4" class="pl-4 py-2 text-sm">
                                <div class="flex flex-row gap-4 items-center">
                                    <div class="shrink basis-1/2 text-zinc-500">Showing <strong>2</strong> of
                                        <strong>2</strong>
                                        records
                                    </div>
                                    <ul class="m-0 grow basis-1/2 text-right">
                                        <li class="m-0 inline-block py-2">
                                            <a href="/"
                                                class="decoration-2 decoration-slate-600 transition ease-in-out delay-150 duration-200 text-zinc-400 hover:text-zinc-700 hover:border-t-4 hover:border-t-zinc-300 py-2 px-3">
                                                &larr; previous</a>
                                        </li>
                                        <li class="m-0 py-2 inline-block text-zinc-400"><a href="/"
                                                class="decoration-2 decoration-slate-600 transition ease-in-out delay-150 duration-200 text-zinc-400 hover:text-zinc-700 hover:border-t-4 hover:border-t-zinc-300 py-2 px-3">1</a>
                                        </li>
                                        <li class="m-0 py-2 px-3 font-bold inline-block border-t-4 border-indigo-400">2
                                        </li>
                                        <li class="m-0 py-2 inline-block text-zinc-400"><a href="/"
                                                class="decoration-2 decoration-slate-600 transition ease-in-out delay-150 duration-200 text-zinc-400 hover:text-zinc-700 hover:border-t-4 hover:border-t-zinc-300 py-2 px-3">3</a>
                                        </li>
                                        <li class="m-0 py-2 inline-block text-zinc-400"><a href="/"
                                                class="decoration-2 decoration-slate-600 transition ease-in-out delay-150 duration-200 text-zinc-400 hover:text-zinc-700 hover:border-t-4 hover:border-t-zinc-300 py-2 px-3">next
                                                &rarr;</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
{% endblock %}